/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: Arial;
}
select{
    padding-right: 10px;
}
h4{
    position: relative;
    top: -77px;
    right: -400px;
    font-size: 28px;
    color: white;
    font-family: sans-serif;
}

/* ==================== CONTAINER ====================*/

.container {
    width: 1200px;
    margin: 0 auto;
}

/* ==================== HEADER ====================*/

.header {
    background-color: #185D74;
    height: 75px;
}

.header-split {
    padding-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    color: #ffffff;
    margin: 0;
}


.header nav {
    margin-top: 13px;
}

.header nav a {
    padding-left: 100px;
    color: #ffffff;
    text-decoration: none;
}


/* ==================== INFO ====================*/

h5{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
.info {
    background-color: #ADD8E6;
}

.info h2 {
    margin: 0;
    text-align: center;
}
h6{
   width: 40px;
    margin-right: 0;
}

.info h3 {
    text-align: center;
}

.info p {
    margin: 0;
    text-align: center;
}

.info-header h2 {
    padding-top: 25px;
    margin: 0px;
    text-align: center;
}

.info-knockout h2 {
    margin-top: 25px;
}

.info-body {
    text-align: center;
}

.info-body ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 30px;
}

.info-login-button {
    text-align: center;
}

.info-player-add {
    margin: 25px 0px;
}

.info-app-body {
    text-align: center;
}

.info-app-footer {
    padding-bottom: 25px;
}

.info-split {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

.info-split h2 {
    margin-bottom: 25px;
}

.info-login textarea {
    margin-bottom: 15px;
}

.info-register textarea {
    margin-bottom: 15px;
}

.info-team-upper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

.info-team-footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}


/* ==================== FOOTER ====================*/

.footer {
    background-color: #007298;
}

.footer-split {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.footer p {
    margin-top: 30px;
    color: #ffffff;
}

.footer ul {
    color: #ffffff;
}

/* ==================== TEAMS ====================*/

.team span {
    font-weight: bold;
}

/* ==================== WEDSTRIJDEN ====================*/

.info-knockout-final {
    position: relative;
    margin-top: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.info-knockout-semifinal {
    position: relative;
    margin-top: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

.info-knockout-quarterfinal {
    position: relative;
    margin-top: 100px;
    padding-bottom: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

.knockout-match {
    border: 1px solid #ffffff;
    padding: 5px;
}

/*.knockout-match:before {
    content: '';
    display: block;
    position: absolute;
    border-right: 3px solid #000000;
    height: 50px;
    left: 145px;
    bottom: 20px;
} */

.knockout-match h3 {
    text-align: center;
    margin: 0 auto;
}

.poules-shedule h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.poules-teams {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-top: 25px;
    padding-bottom: 25px;
}

.poules {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

.poule {
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 75px 0px;
}

.poule-games-matchday {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

.poules-games {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    padding-bottom: 75px;
}

.poule-games {
    border: 1px solid #ffffff;
    padding: 15px;
    margin-top: 25px;
}

.poule-games p {
    font-weight: bold;
    margin-right: 4px;
    margin-left: 4px;
}
.poules-games li{
    display: inline-flex;
    margin-bottom: 5px;
    margin-top: 5px;
}
.matches{
    display: inline-flex;
    margin-left: 15px;
    margin-right: 25px;
}
select{
    width: 65px;
}
.info-knockout-quarterfinal button{
  position: absolute;
    top: 120px;
    right: 555px;
    height: 40px;
    width: 80px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}
.scores input{
    margin-left: 20px;
    width: 30px;
}
.scoresubmit input{
    position: absolute;
    top: 70px;
    right: 530px;
    height: 40px;
    width: 140px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}
.winner1{

    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
}
.stripe{
    position: absolute;
    top: 33px;
    right: 895px;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}